################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/colorMatcher/colorMatcher/obj
/colorMatcher/colorMatcher/bin/Debug/netcoreapp3.1
/.vs/
/colorMatcher/.vs/colorMatcher
/colorMatcher/colorMatcher.Logic/bin/Debug/netstandard2.0
/colorMatcher/colorMatcher.Logic/obj
/colorMatcher/colorMatcher.Logic.Tests/bin/Debug/netcoreapp3.1
/colorMatcher/colorMatcher.Logic.Tests/obj
/colorMatcher/.vs/ColorMatcher
